@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:hoot {
  --color-darkest: #425759;
  --color-dark: #8fa1a6;
  --color-normal: #b2c9cd;
  --color-light: #c7d4d9;
  --color-lightest: #ebf1f2;
}

body {
  background-image: linear-gradient(#425759, #0c2e2e);
  background-repeat: no-repeat;
  height: 100vh;
  color: #ebf1f2;
  overflow-y: hidden;
  margin: 0;
  padding: 0;

  font-family: "Poppins";
}

.welcome {
  color: #3fb8af;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.295);
  margin: 0;
  margin-top: 80px;
  text-align: center;
  font-size: 2em;
}

.title {
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.295);
  text-align: center;
  font-size: 4em;
  padding: 5px;
  margin: 0;
}

.quiz-categories {
  background-color: #c7d4d9;
  padding: 60px 70px;
  border-radius: 8px;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.144);
}

.subtitle {
  text-align: center;
  font-size: 2.5em;
  color: #202d2e;
}

.list-elements {
  margin-right: 90px;
  background-color: #ebf1f2;
  color: #202d2e;
  font-size: 1.5em;
  padding: 13px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.selectedElement {
  background-color: #ebf1f2;
}

.selectedElement:hover {
  background-color: #b2c9cd;
}

.btn-categories {
  padding: 14px;
  border-radius: 20px;
  cursor: pointer;

  color: #c7d4d9;
  border: 1px solid #ebf1f2;
  background-color: #425759;

  cursor: pointer;
  font-size: 1.3em;
  font-weight: 600;
}

.btn-categories:hover {
  transition: 0.3s;
  color: #425759;
  border: 1px solid #202d2e;
  background-color: #ebf1f2;
}

.btn-categories:not(:hover) {
  transition: 0.6s;
}

.question-box {
  background-color: #c7d4d9;
  color: #425759;
  width: 800px;
  height: 700px;
  padding: 30px 45px;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.144);

  position: absolute;
  left: 50%;
  top: 55%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.question-title {
  margin: 10px;
  padding: 10px;
  font-size: 3em;
  text-align: center;
  color: #202d2e;
}

.question-number {
  position: absolute;
  top: 0;
  right: 0;

  margin: 40px 40px 0 0;

  color: rgb(40, 87, 87);
  font-weight: 800;
  font-size: 1.4em;
}

.question-arrow {
  position: absolute;
  top: 0;
  left: 0;

  margin: 5px 0 0 30px;
  padding: 10px;

  color: rgb(40, 87, 87);
  font-weight: bolder;
  font-size: 3em;

  cursor: pointer;
}

.question-arrow:hover {
  transition: 0.2s;
  scale: 1.05;
}

.question-description {
  font-size: 1.4em;
  color: black;
}

.question-next {
  border: none;
  background-color: #425759;
  color: #c7d4d9;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px;
  font-size: 1.3em;

  position: absolute;
  bottom: 30px;
  right: 45px;
}

.question-next:hover {
  transition: 0.2s;
  scale: 1.05;
}
.question-next:not(:hover) {
  transition: 0.2s;
  scale: 1;
}

.answers-list {
  padding-bottom: 60px;
}

.answers {
  background-color: #c7d4d9;
  color: black;
  font-size: 1em;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: 1px solid #202d2e;
  border-radius: 10px;
  cursor: pointer;
}

.answer-selected {
  transition: 0.2s;
  background-color: #425759;
  color: #ebf1f2;

  padding: 15px;
  width: 100%;
  text-align: left;
  border-radius: 10px;
  cursor: pointer;
}

.result-box {
  background-color: #c7d4d9;
  color: #425759;
  width: 500px;
  padding: 30px 45px;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.144);

  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.result-score {
  font-size: 2.7em;
  color: black;
}

.result-btn {
  background-color: #c7d4d9;
  border: 1px solid #202d2e;
  color: black;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 8px;
  cursor: pointer;
}

.result-btn:hover {
  transition: 0.2s;
  background-color: #425759;
  color: #ebf1f2;
  border: 1px solid #425759;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;

  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: -8px 0 0 -8px;
  width: 16px;
  aspect-ratio: 1;
  background: #3fb8af;
  animation: l1-1 2s infinite, l1-2 0.5s infinite;
}
.loader:after {
  background: #ff3d7f;
  animation-delay: -1s, 0s;
}
@keyframes l1-1 {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 100%;
    left: 0;
  }
  50% {
    top: 100%;
    left: 100%;
  }
  75% {
    top: 0;
    left: 100%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@keyframes l1-2 {
  80%,
  100% {
    transform: rotate(0.5turn);
  }
}

footer{
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 3%;
  left: 50%;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.295);
}


.socials{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

footer .socials a{
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 10px;
  font-size: 1.3rem;
  border-radius: 100%;
  transition: all 0.3s ease;
  text-decoration: none;
}

footer .socials a:hover{
  color: #0c2e2e;
  background-color: #ebf1f2;
  border-color: #ebf1f2;
}

.socials > span, p{
  font-size: 1.3rem;
}

.socials > span > strong {
  text-decoration: underline;
}

